
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><!--  -->
<head>
<title>TAU Corporation</title>
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<!-- InstanceBeginEditable name="head" -->
<meta name="description" content="" />
<meta name="keywords" content="" />

<!-- InstanceEndEditable -->
<script type="text/javascript" src="../contents/js/jquery.js"></script>
<script type="text/javascript" src="../contents/js/design.js"></script>
<script type="text/javascript" src="../contents/js/common.js"></script>
<script type="text/javascript" src="../contents/js/flexcroll.js"></script>
<link rel="stylesheet" href="../contents/css/en/import.css?upd=20150617" type="text/css"/>
<style>




</style>
</head>

<body onload="init();">


<a name="pagetop" id="pagetop"></a>

<div id="main">
<div id="toppages">


<h2>COMPANY PROFILE</h2>

<div id="companyBox">

<h4>Welcome to Our Homepage</h4>
</div>

<div class="container-fluid" > 

     <div class="row">
		  <div class="col-xs-12 col-md-2">
				     <div class="well">
				     
				  <div class="greetingBox">

<p>Thanks to all the customers from many countries who have offered their strong support and ongoing relationship with Tokyo Spares.Tokyo Spares has been implementing the most advanced business management since the establishment in 1996, which realized Tokyo Spares is one of the largest companies dealing with  vehicle parts to all over the world.
Today those new products as spare parts and industrial machineries have also been welcomed.We will keep our best efforts to provide you with the extra profit opportunities.</p>

<p>We have a strong confidence that we can keep a long, stable and excellent business relationship with you through our website.We, like you, are looking forward to continuing this wonderful and mutually beneficial relationship into the future.</p>
  
  
<p>Kindest Regards,<br />
   ----------<br />
   CEO<br />
   Tokyo Spare</p>

</div>
				     
                       

                         

                      
				     
				     
				     
					</div>
		  </div>

    </div>
</div>















</div><!--/toppages-->



	
</div>



<div id="footer">


<p class="copyright">Copyright &copy; 2018 Tokyo Spare Corporation. All Rights Reserved.</p><!--/copyright-->

</div><!--/footer-->

		


</body>
</html>


