<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>
    
	<!-- resources -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	
    <!-- bootstrap javascript is not included. If needed, include it with it's dependencies (jquery) -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-touch.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-route.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-resource.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-animate.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-messages.js"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.2.4/ui-grid.js"></script>
    
    
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-aria.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.min.js"></script>
		
   

    
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./controller/RegistrationController.js"></script>
    <script type="text/javascript" src="./controller/HomeController.js"></script>
    <script type="text/javascript" src="./service/RegistrationService.js"></script>
    <script type="text/javascript" src="./service/HomeService.js"></script>
    
    
       <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>

    .error{
            background-color: #ffcad3;
            border: 5px solid #fc0303;
            border-style: solid;
            border-width: 1px; 
        }


    input:valid {
            background-color: #8bea54;
            border-color:#2affa68e;
            border-style: solid;
        }


     .col-md-4 {
          margin-top: 100px;
          background-color:#000000;
          opacity:0.6;
          filter:alpha(opacity=60);
        }



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}




}



</style>

<body ng-app="myApp" ng-controller="RegistrationController">
    
    <video autoplay muted loop id="myVideo">
  <source src="../vedios/hd0924.mov" type="video/mp4">

   </video>
    
    
        <div class="col-md-4">
                       
        </div>


        <div class="col-md-4">

             
            	<!--  <h2 style="color:rgb(0, 100, 130)">  <a href="/">   <img src="../images/caretaker.png" align="top"> Care Taker </a></h2> -->
            	
                

                <form class="form-horizontal" name="registrationForm" method="POST" ng-submit="submitForm()" novalidate = true >
                    <fieldset>

                        <!-- Form Name -->
                        <legend style="text-align:center;color:rgb(28, 165, 206)"> Sign up to your Colombo Spares</legend>
                        

                        <!-- Text input-->
                        <span class="help-block">Enter Your Name</span>
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                
                                <input id="name" name="name" placeholder="Name" class="form-control input-md" ng-class="{error: registrationForm.name.$invalid && !registrationForm.name.$pristine }" type="text" ng-model="customer.customerName" required>
                                
                        </div>
                        <span style="color:red"  ng-show="registrationForm.name.$invalid && !registrationForm.name.$pristine">Your name is required.</span>
                  
                        
                     
                        <!-- Text input-->
                        <span class="help-block">Enter Your Email</span>
                        <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>                           
                                <input id="email" name="email" placeholder="Email" class="form-control input-md" ng-class="{error: registrationForm.email.$invalid && !registrationForm.email.$pristine }"  type="tel"  ng-model="customer.email" required ng-pattern="/^\d{10}$/ ">         <!--type="tel" required ng-pattern="/^\d{10}$/ "-->
                        </div>
                        <span style="color:red" ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine">Enter a Valid Telephone Number</span>       
                           

                        <!-- Password input-->
                          <span class="help-block">Enter a Password</span>
                          <div class="input-group" >

                            <span class="input-group-addon"><i class=" glyphicon glyphicon-lock"></i></span>

                            <input id="password" name="password" placeholder="Password" class="form-control input-md" ng-class="{error: registrationForm.password.$error.pattern && !registrationForm.password.$pristine }" type="password" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" ng-minlength="8" ng-model="customer.password" >
        
                        </div>
                        <span style="color:red"  ng-show="registrationForm.password.$error.pattern">Password must contain at least 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character.</span>
                        

                        <!-- Password input-->
                        <span class="help-block">Confirm Password</span>
                             
                          <div class="input-group" >
                                <span class="input-group-addon"><i class=" glyphicon glyphicon-lock"></i></span>
                            <input class="form-control input-md" placeholder="Reenter Password" ng-class="{error: registrationForm.passwordConfirmation.$error.match && !registrationForm.passwordConfirmation.$pristine}" type="password" name="passwordConfirmation" required ng-model="passwordConfirmation" password-confirm match-target="customer.password" />
                          </div>
                          
                    
                          <span style="color:red" ng-show="registrationForm.passwordConfirmation.$error.match && !registrationForm.passwordConfirmation.$pristine">Passwords do not match.</span>

                        <!-- Button -->
                        
                            <br>
                                <button id="button" type="reset" name="button" class="btn btn-primary btn-block"   ng-click="createCustomer(customer)" ng-disabled= "registrationForm.$invalid">Register</button>
                                
                            
                     
                        
                    </fieldset>
                </form>
                <br>
                <p align="center"> Already have an account?<a href="/login"> Click Here </a> to sign in!</p>
         </div>
    </body>

</html>